/*Import link for the Roboto font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a{
    display: block; /*Displays anchor elements vertically on a new line; this was added so the drop down menu displays vertically and not horizontally on the screen*/
    font-family: 'Roboto', sans-serif; /*Font from fonts.google.com*/
    font-size: 25px;
}

body{
    font-family: 'Roboto', sans-serif; /*Font from fonts.google.com*/
}

.column{
    float: left;
    width: 24%;
    padding: 5px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

/*CONTACT FORM CSS*/

/*Sets up the content within the div tag containing the ID contact to be centered on the webpage*/
#contact{
    display: block;
    margin-bottom: 70px;
}

form{
    display: table; /*This will display the form in a table format as rows and columns*/
    padding: 15px;
    margin-left: auto;
    margin-right: auto; /*The browser will automatically calculate margins to center the form on the screen*/
}

/*This will specifically target the input tags that are nested within the form tags*/
form input{
    width: 400px; /*Sets the width of the input fields*/
    font-family: 'Roboto', sans-serif; /*Font from fonts.google.com*/
    font-size: 15px;
    color: rgb(165, 165, 165);
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 3px;
    margin: 10px 15px 10px 0px;
    transition: 0.3s ease-out; /*Transitions back to light gray when a user clicks away from an input field*/
}

form input:focus{
    border: 2px solid rgb(255, 0, 0);
    color: black;
    outline: none; /*Removes default border added when the focus pseudo class is triggered*/
    transition: 0.3 ease-out;
}

label{
    font-family: 'Roboto', sans-serif; /*Font from fonts.google.com*/
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

textarea{
    width: 98.5%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: both; /*Will allow the user to resize the text area both in width and height*/
    border: 3px solid rgb(165, 165, 165);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif; /*Font from fonts.google.com*/
    color: rgb(165, 165, 165);
    font-size: 15px;
    transition: 0.3s ease-out; /*Will transition back to light gray*/
}

textarea:focus{
    color: black;
    border: 3px solid rgb(255, 0, 0);
    transition: 0.3s ease-out;
    outline: none;
}

input[type="submit"]{
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 35px;
    font-family: 'Roboto', sans-serif; /*Font from fonts.google.com*/
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    float: right; /*Positions the submit button to the bottom right of the form*/
}

input[type="submit"]:hover{
    background-color: rgb(192, 0, 0);
}